In [2]:
import pandas as pd
import os
from tkinter import filedialog
from tkinter import messagebox

In [3]:
df = pd.read_excel(io='C:/Users/dldns/OneDrive/Desktop/coding/python/sorinarae/~20231215.xlsx',engine='openpyxl',skiprows=11,names=['거래일시', '금액','내용', '메모'], 
usecols="B,D,G,H")
df = df.fillna("")
display(df)

                    거래일시       금액             내용              메모
0    2023.08.19 16:26:35   -19000          네이버페이  아퀴 연합공연 카메라 대여
1    2023.08.19 18:14:01        1           독일당근
2    2023.08.19 18:14:36   -15020             쿠팡       마이크 커버 구매
3    2023.08.20 13:45:51  3125186  전형빈 41기통장 이월금
4    2023.08.20 20:47:39  -539000      김수만(원픽뮤직)     아퀴 연합공연 대관비
..                   ...      ...            ...             ...
430  2023.12.15 20:42:43     1500            박유찬
431  2023.12.15 20:42:59     1500            이민성
432  2023.12.15 20:44:12     3000            이신애
433  2023.12.15 20:46:06     7500            윤혜령
434  2023.12.15 22:51:40  -423000      고향산천원조숯불닭

[435 rows x 4 columns]

정산해야 할 금액, 정산해야 할 인원(메모장에 입력 후 복붙) 입력 후 미정산 인원 출력

In [2]:
list_file = []                                          #파일 목록 담을 리스트 생성
files = filedialog.askopenfilenames(initialdir="/",\
                 title = "파일을 선택 해 주세요",\
                    filetypes = (("*.xlsx","*xlsx"),("*.xls","*xls"),("*.csv","*csv")))
#files 변수에 선택 파일 경로 넣기

if files == '':
    messagebox.showwarning("경고", "파일을 추가 하세요")    #파일 선택 안했을 때 메세지 출력

print(files)    #files 리스트 값 출력

for dir in files:
    dirname,basename = os.path.splitext(dir)

print(basename)
if basename == '.xlsx' or basename == '.xls':
    df = pd.read_excel(io=dir,engine='openpyxl',skiprows=11,names=['거래일시', '금액','내용', '메모'], usecols="B,D,G,H")
else:
    df = pd.read_csv(filepath_or_buffer=dir)    

df = df.fillna("")

In [9]:
#정산 금액, 인원 입력 후 미정산 인원 추려내기 
amount = int(input('정산 금액: '))

str = input('인원(복사 후 붙여넣기): ')
total_mem = str.split()

settlement = round(amount/len(total_mem))

settle_df = df.loc[df['금액']==settlement]
print(settle_df['내용'].count())
paid_mem = settle_df['내용'].dropna().tolist()
not_paid_mem = [mem for mem in total_mem if mem not in paid_mem]

print(not_paid_mem)

26
['김도은', '김연우', '김은서', '문희정', '박노엘', '박재욱', '서승현', '신승리', '안지용', '유서진', '이신애', '이윤진', '이제희', '전형우', '정여원', '정주연', '정지원', '정해성', '조환희', '한서인']