In [55]:
import pandas as pd
import tabulate
import numpy as np

In [51]:
df = pd.read_excel(io='C:/Users/dldns/OneDrive/Desktop/coding/python/sorinarae/~20231215.xlsx',engine='openpyxl',skiprows=11,names=['거래일시', '금액','내용', '메모'], 
usecols="B,D,G,H")
df = df.fillna("")
display(df)

                    거래일시       금액             내용              메모
0    2023.08.19 16:26:35   -19000          네이버페이  아퀴 연합공연 카메라 대여
1    2023.08.19 18:14:01        1           독일당근
2    2023.08.19 18:14:36   -15020             쿠팡       마이크 커버 구매
3    2023.08.20 13:45:51  3125186  전형빈 41기통장 이월금
4    2023.08.20 20:47:39  -539000      김수만(원픽뮤직)     아퀴 연합공연 대관비
..                   ...      ...            ...             ...
430  2023.12.15 20:42:43     1500            박유찬
431  2023.12.15 20:42:59     1500            이민성
432  2023.12.15 20:44:12     3000            이신애
433  2023.12.15 20:46:06     7500            윤혜령
434  2023.12.15 22:51:40  -423000      고향산천원조숯불닭

[435 rows x 4 columns]

정산해야 할 금액, 정산해야 할 인원(메모장에 입력 후 복붙) 입력 후 미정산 인원 출력

In [ ]:
# 정산 금액, 인원 입력 후 미정산 인원 추려내기 
amount = int(input('정산 금액: '))
#personnel = int(input('인원: '))
str = input('인원(복사 후 붙여넣기): ')
person_list = str.split()
print(person_list)

settlement = round(amount/len(person_list))

settle_df = df.loc[df['금액']==settlement]

print(settlement)
display(settle_df)
settle_df['금액'].count()

for name in person_list:
    if(settle_df['내용']==name).any():
        person_list.remove(name)

display(person_list)